
    <div dir="auto" class="message" style="width: 80%;
            margin: 2% 10%;
            border:1px solid rgb(235, 199, 170);
            border-radius: 40px;
            background-color: #fff;
            background-image: url('https://raw.githubusercontent.com/RamazanOzdemir/sambapos/master/public/SambaPOS-Logo.png');
            background-size: auto 25vw;
            background-repeat: no-repeat;
            background-position: center;">
            <div dir="auto" style="height: 5em;width: 100%;border-radius: 40px 40px 0 0;">
                <div dir="auto" align="center" class="logo" style="width: 30vw;margin: 5vh auto;">
                    <a href='https://sambapos.com/'>
                        <img style="height: auto;width: 30vw;" src='https://raw.githubusercontent.com/RamazanOzdemir/sambaPOSMail/master/assets/sambalogo.png'>
                    </a>
                </div>
            </div>


        <div>

            <p id='to' style="margin: 0 5% 10% 10%;">{{to}}</p>
            <pre id='body' style="margin: 0 5% 10% 10%;">{{body}}
            </pre>
            <p id='name' style=" margin: 20% 5% 3% 60%;">{{name}}</p>
            <p id='dept' style="margin: 2% 5% 5% 60%;">{{dept}}</p>
        </div>

        <div style="height: 5em;
            width: 100%;
            background: #ff7000;
            border-radius:0 0 40px 40px ;">
            <div class="social" style="margin: 0 auto;text-align: center;" >
                <a class="social_link" href="https://www.youtube.com/user/SambaPOS" style="text-decoration: none;margin: 5px 2px">
                    <img src="https://img.icons8.com/material-rounded/32/ffffff/facebook.png">
                </a>
                <a class="social_link" href="https://www.youtube.com/user/SambaPOS" style="text-decoration: none;margin: 5px 2px">
                    <img src="https://img.icons8.com/material-rounded/32/ffffff/youtube-play.png">
                </a>
                <a class="social_link" href="https://www.youtube.com/user/SambaPOS" style="text-decoration: none;margin: 5px 2px">
                    <img src="https://img.icons8.com/material-rounded/32/ffffff/linkedin.png">
                </a>
                <a class="social_link" href="https://www.youtube.com/user/SambaPOS" style="text-decoration: none;margin: 5px 2px">
                    <img src="https://img.icons8.com/material-rounded/32/ffffff/twitter.png">

            </div>

            <p class="copy" style="text-align:center;font-size: 0.8em;color: #fff;" >&copy; 2019 SambaPOS</p>
        </div>


    </div>
